body {
    background: white;
    color: rgba(0, 0, 0, 0.5);
}
div {
    display: block;
}



.rid-line {
    white-space: nowrap;
    box-sizing: inherit;
}
.rid-line__label_wide {
    width: 60px;
}
.rid-line__label {
    margin-right: -1px;
}
.rid-line__btn, .rid-line__content, .rid-line__input, .rid-line__label, .rid-line__tip {
    vertical-align: middle;
}
.rid-line__label-line {
    padding-bottom: 7px;
    white-space: normal;

}
.rid-line__content {
    display: inline-block;
    position: relative;
    left: 0.5em;
}
.rid-line__input_profile-edit {
    width: 7.5em;
}
.rid-line__input {
    display: inline-block;
}
.g-rid-input {
    font-size: 1em;
    border: 0.5em solid #d5d5d5;
    border-color: #fa868b;
    width: 20em;
    padding: 0.25em;
    outline: 0;
    border-radius: 2px;
    color: grey;
}
input {
    line-height: normal;
}
.rid-line__tip, .rid-line__tip-line {
    color: #f45159;
}
.rid-line__tip {
    margin: 1px 0 0 5px;
    white-space: normal;
    color: grey;
    font-size: 0.8em;
}
.rid-emailpick__name {
    position: relative;
    margin: 0 -1px 0 0;
    width: 270px;
    vertical-align: middle;
    display: inline-block;
}
.g-rid-input, .rid-emailpick :first-child, .g-rid-input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.rid-line_subline {
    margin: 2px 0 2px 220px;
}
.g-hidden {
    display: none!important;
}
.g-rid-input_password {
    padding-right: 16px;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.rid-btn {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
.rid {
    min-height: 100%;
    margin-bottom: -60px;
}
.rid-btn_save {
    cursor: pointer;
    color: #fff;
    background: linear-gradient(to bottom,#5e96f9 0,#4683f0 100%);
    box-shadow: 0 0 1px rgba(14,35,73,.9)inset,0 1px 1px rgba(0,0,0,.2);
    border: none;
}
.rid-btn {
    position: relative;
    border-radius: 5px;
    outline: 0;
    font-size: 1em;
    line-height: 2em;
    display: block;
    padding: 0 4px;
    width: 20em;
    height: 2em;
}
#Name6, #Name8 {
    color: green;
}
.g-rid-input__eye_blue {
    background-image: url(http://qutu.ws/chat/img/share_eye.png);
    position: absolute;
    width: 18px;
    height: 12px;
    top: 6px;
    right: 5px;
    display: block;
    z-index: 2;
    cursor: pointer;
}
.g-rid-input__eye {
    background-image: url(http://www.iconsearch.ru/uploads/icons/fugue/16x16/eye-disable.png);
    width: 1em;
    height: 0.8em;
    top: 0.8em;
    left: 18em;
    display: block;
    z-index: 2;
    cursor: pointer;
}
.g-pseudo-link_reload-icon:after, .g-rid-input__eye{
    background-position: 0 0;
    background-repeat: no-repeat;
}
.registration_common_block {
    background: yellowgreen;
    top: 1em;
    left: 50em;
    margin: 0;
    width: 25em;
}
.registration_register_block {
    position: absolute;
    top: 1em;
    right: -2em;
    margin: 0;
}

.header-search {
    position: absolute;
    padding-top: 0.5em;
    left: 30em;
    top: 5em;

}
/*.header-search-input-text-wrap {*/

/*border-radius: 5px 0px 0px 5px;*/
/*position: absolute;*/
/*height: 4px;*/
/*left: -200px;*/
/*top: 10px;*/
/*}*/

.header-search-input-text {

    box-sizing: border-box;
    border: 0;
    font-size: 1.30769em;
    width: 200%;
    height: 2em;
    text-indent: 0.5em;
    font-size: 0.8em;
    box-shadow: inset 2px 2px 0 1px #f2f2f3;
}

.btn-link-i {
    height: 26px;
    padding-right: 5px;
}



.btn-link-green {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 0em;
    height: 2.8em;
    text-align: center;
    position: absolute;
    top: 0.5em;
    left: 19em;

}



#content {
    height: 40em;
    margin-left: 23.5em;
    padding: 2em;
    background: #EED8AE;
}

.hub-i-link {
    border: 1px solid transparent;
    display: inline-block;
    font-size: 0.84615em;
    padding: 40px 12px 0.36364em;
    position: relative;

}
.imgn {

}



#sidebar {
    margin-top: 1em;
    width: 20em;
    padding: 0 10px;
    float: left;
}




@-webkit-keyframes spinner {
    from,15% { -webkit-transform: rotateY(0deg);    }
    20%,35%  { -webkit-transform: rotateY(-72deg);  }
    40%,55%  { -webkit-transform: rotateY(-144deg); }
    60%,75%  { -webkit-transform: rotateY(-216deg); }
    80%,95%  { -webkit-transform: rotateY(-288deg); }
    to       { -webkit-transform: rotateY(-360deg); }
}

@keyframes spinner5 {
    from,15% {
        -moz-transform: rotateY(0);
        -ms-transform: rotateY(0);
        transform: rotateY(0);
    }
    20%,35%  {
        -moz-transform: rotateY(-72deg);
        -ms-transform: rotateY(-72deg);
        transform: rotateY(-72deg);
    }
    40%,55%  {
        -moz-transform: rotateY(-144deg);
        -ms-transform: rotateY(-144deg);
        transform: rotateY(-144deg);
    }
    60%,75%  {
        -moz-transform: rotateY(-216deg);
        -ms-transform: rotateY(-216deg);
        transform: rotateY(-216deg);
    }
    80%,95%  {
        -moz-transform: rotateY(-288deg);
        -ms-transform: rotateY(-288deg);
        transform: rotateY(-288deg);
    }
    to {
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
}


@-webkit-keyframes spinner {
    from {
        -webkit-transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(-360deg);
    }
}

#stage {
    margin: 1em auto;
    -webkit-perspective: 1200px;
}

#spinner {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    -webkit-transform-style: preserve-3d;
}
#spinner:hover {
    -webkit-animation-play-state: paused;
}

#spinner img {
    position: absolute;
    border: 1px solid #ccc;
    background: rgba(255,255,255,0.8);
    box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
}

