.rid-line {
    white-space: nowrap;
    margin: 0 0 24px;
    box-sizing: inherit;
}
.rid-line__label_wide {
    width: 220px;
}
.rid-line__label {
    display: inline-block;
    margin-right: -1px;
}
.rid-line__btn, .rid-line__content, .rid-line__input, .rid-line__label, .rid-line__tip {
    vertical-align: middle;
}
.rid-line__label-line {
    padding-bottom: 7px;
    white-space: normal;
}
.rid-line__content {
    display: inline-block;
    position: relative;
}
.rid-line__input_profile-edit {
    width: 465px; //465
}
.rid-line__input {
    display: inline-block;
}
.g-rid-input {
    font-size: 18px;
    border: 1px solid #d5d5d5;
    border-color: #fa868b;
    width: 431px;
    padding: 16px;
    outline: 0;
    border-radius: 3px;
    color: grey;
}
input {
    line-height: normal;
}
.rid-line__tip, .rid-line__tip-line {
    color: #f45159;
}
.rid-line__tip {
    display: inline-block;
    margin: -1px 0 0 25px;
    width: 265px;
    white-space: normal;
    color: grey;
    font-size: 13px;
}
.rid-emailpick__name {
    position: relative;
    margin: 0 -1px 0 0;
    width: 270px;
    vertical-align: middle;
    display: inline-block;
}
.g-rid-input, .rid-emailpick :first-child, .g-rid-input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.rid-line_subline {
    margin: 5px 0 10px 220px;
}
.g-hidden {
    display: none!important;
}
.g-rid-input_password {
    padding-right: 16px;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.rid-btn {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
.rid {
    min-height: 100%;
    margin-bottom: -60px;
}
.rid-btn_save {
    cursor: pointer;
    color: #fff;
    background: linear-gradient(to bottom,#5e96f9 0,#4683f0 100%);
    box-shadow: 0 0 1px rgba(14,35,73,.9)inset,0 1px 1px rgba(0,0,0,.2);
    height: 55px;
    border: none;
}
.rid-btn {
    position: relative;
    border-radius: 3px;
    outline: 0;
    font-size: 18px;
    line-height: 19px;
    display: block;
    padding: 0 24px;

}
#Name6, #Name8 {
    color: green;
}
.g-rid-input__eye_blue {
    background-image: url(http://qutu.ws/chat/img/share_eye.png);
    position: absolute;
    width: 18px;
    height: 12px;
    top: 20px;
    right: 14px;
    display: block;
    z-index: 2;
    cursor: pointer;
}
.g-rid-input__eye {
    background-image: url(http://www.iconsearch.ru/uploads/icons/fugue/16x16/eye-disable.png);
    position: absolute;
    width: 18px;
    height: 12px;
    top: 20px;
    right: 14px;
    display: block;
    z-index: 2;
    cursor: pointer;
}
.g-pseudo-link_reload-icon:after, .g-rid-input__eye{
    background-position: 0 0;
    background-repeat: no-repeat;
}